<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gif Chat App</title>
  </head>
  <body>
    <div>Press F12 to check the console tab and network tab.</div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io.connect('http://localhost:3000', { path: 'socket.io' });

      socket.on('news', data => {
        console.log(data);
        socket.emit('reply', 'Hello NodeJS');
      });
    </script>
  </body>
</html>
