<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div class="container">
      <div class="profile-wrap">
        <div class="profile">
          {% if user and user.id %}
          <div class="user-name">{{'Hello! ' + user.nick}}</div>
          <div class="half">
            <div>Following</div>
            <div class="count following-count">{{followingCount}}</div>
          </div>
          <div class="half">
            <div>Followers</div>
            <div class="count follower-count">{{followerCount}}</div>
          </div>
          <input id="my-id" type="hidden" value="{{user.id}}" />
          <a id="my-profile" href="/profile" class="btn">My Profile</a>
          <a id="logout" href="/auth/logout" class="btn">Logout</a>
          {% else %}
          <form id="login-form" action="/auth/login" method="post">
            <div class="input-group">
              <label for="email">E-Mail</label>
              <input id="email" type="email" name="email" required autofocus />
            </div>
            <div class="input-group">
              <label for="password">Password</label>
              <input id="password" type="password" name="password" required />
            </div>
            <a id="join" href="/join" class="btn">Sign Up</a>
            <button id="login" type="submit" class="btn">Login</button>
            <a id="kakao" href="/auth/kakao" class="btn btn_kakao"
              >Login with KakaoTalk</a
            >
          </form>
          {% endif %}
        </div>
        <footer>
          <p>
            Copyright &copy;<span class="year"></span>
            Made by
            <a
              href="https://github.com/SynCROSS/"
              target="_blank"
              rel="noopener noreferrer"
              >SynCROSS</a
            >
          </p>
        </footer>
      </div>
      {% block content %} {% endblock %}
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get('loginError')) {
          alert(new URL(location.href).searchParams.get('loginError'));
        }
      };

      const year = document.querySelector('.year');
      const fullYear = new Date().getFullYear();
      year.innerText = fullYear;
    </script>
    {% block script %} {% endblock %}
  </body>
</html>
